<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id='ng-app' ng-app="angular-google-maps-example">

<head>
    <meta charset="UTF-8">
    <title>Tracer move</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,600,300,700' rel='stylesheet' type='text/css'>
    <link href="stylesheets/example.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="ExampleController">
    <!--	You can use either a div having class 'google-map' or the '<google-map>' element; in
	the latter case, uncomment the style above to make sure the custom elements gets block display	-->
    <div class="page-title affix">
        <h2>Tracer move {{version}}</h2>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span7">
     <div class="google-map affix span7"
         center="map.center"
         zoom="map.zoom"
         draggable="true"
         dragging="map.dragging"
         bounds="map.bounds"
         events="map.events"
         options="map.options">

        <layer type="TrafficLayer" show="map.showTraffic"></layer>
        <layer type="BicyclingLayer" show="map.showBicycling"></layer>
        <layer namespace="weather" type="WeatherLayer" show="map.showWeather"></layer>
        <layer namespace="visualization" type="HeatmapLayer" show="map.showHeat" onCreated="map.heatLayerCallback"></layer>

        <!--WINDOWS without markers-->
        <!--NOTICE THEY MUST BE PRIOR TO ANY MARKERS OR THEY WILL ATTACH THEMSELVES walking up the dom tree-->
        <window show="map.infoWindow.show" coords="map.infoWindow.coords" isIconVisibleOnClick="false" options="map.infoWindow.options">
            I should not be attached to a
            marker.
        </window>

        <window show="map.templatedInfoWindow.show" coords="map.templatedInfoWindow.coords"
                options="map.templatedInfoWindow.options"
                templateUrl="map.templatedInfoWindow.templateUrl"
                templateParameter="map.templatedInfoWindow.templateParameter">
        </window>

        <marker coords="searchLocationMarker.coords" options="searchLocationMarker.options" events="searchLocationMarker.events" />

        <markers models="map.randomMarkers" coords="'self'" icon="'icon'" click="'onClicked'"
                    doCluster="map.doClusterRandomMarkers" clusterOptions="map.clusterOptions">
        </markers>

        <markers models="map.markers2" coords="'self'" icon="'icon'" click="'onClicked'"
                    labelContent="'title'" labelAnchor="22 0" labelClass="marker-labels">
            <windows show="'showWindow'" closeClick="'closeClick'">
                <p ng-non-bindable>This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>

                <p class="muted">My marker will stay open when the window is popped up!</p>
            </windows>
        </markers>

        

<!--
        <markers models="map.dynamicMarkers" coords="'self'" icon="'icon'" click="'onClicked'" fit='true'>
            <windows show="'showWindow'" closeClick="'closeClick'">
                <p>Dynamic Marker created via a delay!</p>

                <p ng-non-bindable>This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>

                <p class="muted">My marker will stay open when the window is popped up!</p>
            </windows>
        </markers>

        <markers models="map.mexiMarkers" coords="'self'" icon="'icon'" click="'onClicked'" >
            <windows show="'showWindow'" closeClick="'closeClick'">
                <p>Mexi!</p>
                <p ng-non-bindable>This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>
                <p class="muted">My marker will stay open when the window is popped up!</p>
            </windows>
        </markers>
-->

        <!-- prefedined markers -->
        <!-- rendering via ng-repear, HIGH OVERHEAD via DOM Manipulation -->
<!--
        <marker ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)">
            <marker-label content="m.title" anchor="22 0" class="marker-labels"/>
            <window show="m.showWindow" closeClick="m.closeClick()">
                <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>

                <p class="muted">My marker will stay open when the window is popped up!</p>
            </window>
        </marker>
-->

         <!--marker for clicked position can not put google.map.animations.BOUNCE , since it is not initiaized yet-->
        <div ng-init="opts = {animation:1}">
            <marker coords="map.clickedMarker" options="opts">
                <marker-label content="map.clickedMarker.title" anchor="24 40" class="marker-labels"/>
                <window isIconVisibleOnClick="true">This is my clicked marker!
                    <p class="muted">My marker will reappear when you close me.</p>
                </window>
            </marker>
        </div>


                    <polyline ng-repeat="p in rootPoints" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable"></polyline>
                </div>
                <button class="btn btn-danger pull-right" ng-click="removeMarkers()">Clear Map</button>
            </div>
            <div class="span5">
                <fieldset>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Layers</strong>
                                </td>
                                <td>
                                    Traffic:
                                    <input type="checkbox" text="TrafficLayer On/Off" ng-model="map.showTraffic">Bicycling:
                                    <input type="checkbox" text="BicyclingLayer On/Off" ng-model="map.showBicycling">Weather:
                                    <input type="checkbox" text="Weather On/Off" ng-model="map.showWeather">Heat:
                                    <input type="checkbox" text="Heat On/Off" ng-model="map.showHeat">
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>

            </div>
                    
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?libraries=weather,visualization&sensor=false&language=en&v=3.14"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="http://underscorejs.org/underscore.js" type="text/javascript"></script>
        <script src="lib/angular-google-maps.js"></script>
        <!--        <script src="mock-heat-layer.js"></script>-->
        <script src="js/example-controller.js"></script>
        <script src="templates/infoController.js"></script>
        <!--        <script src="http://localhost:35729/livereload.js"></script>-->
        <script type="text/javascript">
            directives.api.utils.Logger.doLog = true;
        </script>
</body>

</html>
