<html ng-app>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="js/script.js"></script>
</head>

<Body ng-controller="HelloCntl ">
    {{name}}

</Body>

</HTML>
